{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Conférences</h1>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <a href="{{ path('conference_show', {id: conference.id}) }}">View</a>
    {% endfor %}
</div>
{% endblock %}
