{% extends 'base.html.twig' %}

{% block title %}Show conference{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Conférence : {{ conference }}</h1>

        {% if comments|length > 0 %}
            {% for comment in comments %}
                {% if comment.photoFilename %}
                    <img src="{{ asset('uploads/photos/' ~ comment.photoFilename) }}" alt="">
                {% endif %}

                <h4>{{ comment.author }}</h4>
                <small>
                    {{ comment.createdAt|format_datetime('medium', 'short') }}
                </small>
                <p>{{ comment.text }}</p>

                {% if previous > 0 %}
                    <a href="{{ path('conference_show', {id: conference.id, offset: previous}) }}">Previous</a>
                {% end if %}
                {% if next < comments|length %}
                <a href="{{ path('conference_show', {id: conference.id, offset: next}) }}">Next</a>
                {% end if %}
            {% endfor %}
        {% else %}
            <div>No comments</div>
        {% endif %}
    </div>
{% endblock %}